; -*- mode: clojure; -*-
; vim: filetype=clojure

(ns horus.setup.config.main
  "A minimal Riemann configuration"
  (:require [riemann.config :refer :all]
            [riemann.logging :as logging]))

;; enable Riemann instrumentation to provide measures about the streaming system
(instrumentation {:interval 60 :enabled? true})

;; expire old events from the index
(periodically-expire 30 {:keep-keys [:host :service :tags]})

; listen on all interfaces over TCP, websockets and REPL
(let [host "0.0.0.0"]
  (tcp-server  {:host host :port {{&tcp-port}}})
  (ws-server   {:host host :port {{&ws-port}}})
  (repl-server {:host host :port {{&repl-port}}}))

;; log to both console and file
(logging/init {:console true :file "{{&logfile}}"})

